doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/index.bundle.css')
    link(rel='stylesheet', href='http://at.alicdn.com/t/font_500639_36r0py8olujo47vi.css')
    script.
        var Users = {
            id: 1,
            name: '听歌的小孩',
            mail: '274635143@qq.com',
        };
  body
    block content
