@import "../../theme";

.search {
  padding: 15px 10px;
  input {
    width: 130px;
    border: 0;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    outline: none;
    font-size: 14px;
  }
  div {
    height: 30px;
    background-color: #ddd;
    width: 1px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
  }
  i {
    color: #ddd;
    cursor: pointer;
    vertical-align: middle;
  }
  .yuan {
    color: $thenme_color1;
    font-size: 10px;
    box-shadow: 0 0 10px $thenme_color1;
    border-radius: 5px;
  }
}

.search_page {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  input {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 40%;
    border: 1px solid #ddd;
    text-indent: 10px;
    outline: none;
  }
  button {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    height: 34px;
    line-height: 14px;
    width: 10%;
    border: 1px solid $thenme_color1;
    border-left: 0;
    cursor: pointer;
    color: #fff;
    background-color: $thenme_color1;
    outline: none;
  }
}


.list {
  ul {
    text-align: left;
    margin: 0;
    padding: 5px 0;
    overflow-x: auto;
    font-size: 12px;
    li {
      color: #333;
      border-left: 2px solid #fff;
      cursor: pointer;
      border-bottom: 1px solid #f7f4ff;
      list-style: none;
      padding: 8px 10px;
      .list_name {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
    .li_show {
      background-color: #f9f8fd;
      border-left: 2px solid #f9f8fd;
    }
    li:hover, .list_active {
      background-color: #efefef;
      border-left: 2px solid #efefef;
    }
  }
}